parameters:
    level: max
    paths:
        - src
        - tests/Unit
    tmpDir: var/phpstan
    reportUnmatchedIgnoredErrors: true
    typo3:
        requestGetAttributeMapping:
            frontend.page.information: TYPO3\CMS\Frontend\Page\PageInformation|null
            routing: TYPO3\CMS\Core\Routing\PageArguments|null
            site: TYPO3\CMS\Core\Site\Entity\Site|null
